.popup {
  background-color: rgba($color-black , .9); //correct
  position: fixed; //correct
  top: 0; //correct
  left: 0; //correct
  width: 100%; //correct
  height: 100vh; //correct
  z-index: 3000; //correct

  &__content {
    width: 70%; //correct
    // height: auto;XXX
    background-color: $color-white; //correct
    box-shadow: 0 2rem 4rem rgba($color-black , .2);
    border-radius: 3px; //correct
    @include absCenter; //correct but position absolute and not fixed!!
    z-index: 4000;
    display: table; //to make left and right have same height we make it look like a table 
    overflow: hidden;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;//instead of using float(which is possible) we use this to make table and vertical align right box
  }

  &__right {
    width: 66.666666%;
    display: table-cell; //instead of using float(which is possible) we use this to make table and vertical align right box
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block; //correct
    width: 100%;

  }

  &__text {
    font-size: 1.4rem;
    margin-bottom:4rem;
    column-count: 2; //automatically create two columns
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    -moz-hyphens: auto;
    -ms-hyphens : auto;
    -webkit-hyphens : auto;
    hyphens: auto;//va a capo automaticamente based on language
  }

  &__x{
    position: absolute;
    font-size: 1.4rem;
    top: 0;
    right: 0;
    text-decoration: none;
  }

}