*{
    margin: 0;
    padding: 0;
}

html{
    /*font zommabile dall'user*/
    font-size:  62.5%;
}

body {
    width: 100%;
    background-color: #1b1b1a;
}

@font-face {
    font-family: Pittsrbrook;
    src: url(../font/Pittsbrook\ Sans.ttf) format("truetype"),
        url(../font/Pittsbrook\ Sans.otf) format("opentype"),
        url(../font/Pittsbrook\ Sans.woff) format("woff"),
        url(../font/Pittsbrook\ Sans.woff2) format("woff2"),
        url(../font/Pittsbrook\ Sans.svg) format("svg")
}

@font-face {
    font-family: IBMPlexSans;
    src: url(../font/IBMPlexSans-Regular.ttf) format("truetype"),
        url(../font/IBMPlexSans-Regular.otf) format("opentype"),
        url(../font/IBMPlexSans-Regular.woff) format("woff"),
        url(../font/IBMPlexSans-Regular.woff2) format("woff2"),
        url(../font/IBMPlexSans-Regular.svg) format("svg")
}

/* colors :  Primary = #ab9385
             Secondary = #1b1b1a
             Third = #6d6d6d */

h1 {
    font-size: clamp(2rem, calc(4vw + 2rem), 5rem);
    font-family: Pittsrbrook;
}

h2 {
    font-size: 1.2rem;
    font-family: IBMPlexSans;
}

h3 {
    font-size: 1rem;
    font-family: IBMPlexSans;
}

h4 {
    font-size: 0.9rem;
    font-family: IBMPlexSans;
}

h5 {
    font-size: 0.8rem;
    font-family: IBMPlexSans;
}

p{
    font-size: 0.6rem;
}

header {
    position: relative;
}

.header__img {
    height: 100%;
    width: 100%;
}

.menu__icon {
    width: 3rem;
    position: absolute;
    top: 0;
    right: .8rem;
    z-index: 9999;
    cursor: pointer;
}

.menu__list {
    text-align: right;
    margin: 4rem 0 .8rem 0;
    padding: 0 .8rem 0 0;
    background-color: #1b1b1a;
    list-style-type: none;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu__list__item {
    padding: .4rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.menu__list__item h3 {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.white {
    color: #6d6d6d;
}

.white:hover {
    color: #ab9385;
}

.menu__list__item::after {
    content: "";
    background-color: #ab9385;
    bottom: 0;
    right: 0;
    width: 0%;
    height: .2rem;
    position: absolute;
}

.menu__list__item:hover::after {
    width: 100%;
    transition: 300ms;
    cursor: pointer;
}

.menu__list__item:hover {
    color: #ab9385;
}

.overlayMenu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity .1s ease, visibility .4s ease;
}

.modalMenu {
    clip-path: inset(0 0 100% 0);
    overflow: hidden;
    opacity: 0;
    transition: clip-path .4s ease, opacity .4s ease, visibility .4s ease;
    visibility: hidden;
    position: fixed;
    width: 40%;
    top: 0;
    right: 0;
    background-color: #1b1b1a;
    border-bottom-left-radius: .8rem;
    height: 80%;
    max-width: 35rem;
    text-align: center;
    box-shadow: .4rem .4rem .4rem grey;
}

.overlayMenu.open {
    opacity: 1;
    visibility: visible;
}

.modalMenu.open {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    visibility: visible;
}

.modalMenu.closing {
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    visibility: visible;
}


.logo_img {
    width: 6rem;
    position: absolute;
    top: .8rem;
    left: .8rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-top: .8rem;
    margin-bottom: .8rem;

}

.wrapper .static-txt h1 {
    color: #6d6d6d;
    margin: 0;
    padding: 0;
}

.wrapper .dynamic-txt {
    margin-left: .8rem;
    position: relative;
    overflow: hidden;
    height: 4rem;
    line-height: 4rem;
}

.dynamic-txt h1 {
    text-align: center;
    color: #ab9385;
    margin: 0;
    position: relative;
    text-align: start;
    justify-content: center;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -16.2rem;
    }
}

.dynamic-txt h1::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1a;
    border-left: .2rem solid #ab9385;
    animation: typing 1.5s steps(14) infinite;
}

@keyframes typing {

    100% {
        left: 100%;
        margin: 0 -3.5rem 0 3.5rem;
    }
}

.form__section {
    background-image: url(../img/form_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: .8rem 0 .8rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    border: .1rem solid #666666;
    border-radius: .4rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    top: .4rem;
    text-align: left !important;
    position: relative;

}

.form__title {
    color: #949494;
    text-align: center;
    margin: 1.2rem;
}

label input {
    background-color: inherit;
    border: .1rem solid #3c3c3c;
    border-radius: .2rem;
    color: #6d6d6d;
    font-family: IBMPlexSans;
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0 0 0 .4rem;
    box-sizing: border-box;
}

.form__name__label,
.form__email__label {
    width: 80%;
    margin-bottom: 1.28rem;
}

.form__name,
.form__email {
    width: 100%;
}

.form__when {
    display: flex;
    border: none;
    margin: 0 0 1.28rem 0;
    width: 80%;
    justify-content: space-between;
    padding: 0;
}

.form__date__label {
    width: 50%;
    cursor: pointer;
}

.form__time__label {
    width: 30%;
}

.form__date {
    width: 100%;
}

.form__time {
    width: 100%;
    text-align: center;
    padding: 0;
}

.form__btn {
    background-color: #ab9385;
    border: none;
    border-radius: .2rem;
    width: 80%;
    font-size: 0.8rem;
    height: 2.5rem;
    margin-bottom: 1.28rem;
    cursor: pointer;
}

.section__prices {
    position: relative;
    background-color: #ab9385;
    height: auto;
    text-align: center;
    padding: 0 2rem 4rem 2rem;
}

.prices__title {
    padding-top: 2rem;
    margin: 0;
}

.prices__list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 80%;
}

.prices__list__item {
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid #3c3c3c;
    height: 3.6rem;
}