/*pseudo class , lo state è il link*/
.btn {

    &:link,
    :visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        /*animiamo tutto*/
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 2rem rbga($color-black , 0.2);
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rbga($color-black , 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

     &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
        /*.75 è il delay*/
        animation: moveInButton 0.5s ease-out 0.75s;
        /*applica automaticamente lo style allo 0% prima che l'animazione starta*/
        animation-fill-mode: backwards;
    }

}

.btn-text{
    &:link , 
    &:visited{
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        font-size: $default-font-size;
        //le small unit le lascio cosi in pixel tanto cambia poco
        padding: 3px;
        border-bottom: 1px solid $color-primary;
        transition : all .2s  ;
    }

    &:hover{
        background-color: $color-primary;
        transform: translateY(-2px);
        box-shadow: 1rem 1rem 2rem rgba($color-primary , .3);
        color: $color-white; 

    }

    &:active{
        transform: translateY(0px);
    }
}